@import '../../utils/sass/variables';
@import '../../utils/sass/mixins.scss';

.tag {
  background: $primary;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  height: 25px;
  padding: 0 15px 0 15px;
  line-height: 25px;
  display: inline-block;
  margin: 5px;
  @include bp(mobile) {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 5px;
  }
}
