@import '../../utils/sass/variables';
@import '../../utils/sass/mixins.scss';

.rental {
  margin: 0 150px 50px 150px;
  max-width: 1920px;
  @include bp(mobile) {
    margin: 0 15px 50px 15px;
  }
  @include bp(tablet) {
    margin: 0 50px 50px 50px;
  }
  h1 {
    font-size: 36px;
    font-weight: 500;
    color: $primary;
    @include bp(mobile) {
      font-size: 24px;
    }
  }
  h2 {
    font-weight: 500;
    font-size: 18px;
    color: $primary;
    @include bp(mobile) {
      font-size: 16px;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    @include bp(mobile) {
      flex-direction: column;
    }
    &--host {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include bp(mobile) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
  &__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include bp(mobile) {
      flex-direction: column;
    }
    @include bp(tablet) {
      flex-direction: column;
    }
  }
}

.host {
  display: flex;
  width: 200px;
  word-spacing: 300px;
  align-items: center;
  text-align: right;
  &__name {
    font-size: 22px;
    color: $primary;
    @include bp(mobile) {
      font-size: 16px;
    }
  }
  &__picture {
    width: 110px;
    border-radius: 100px;
    margin-left: 25px;
    @include bp(mobile) {
      width: 50px;
      margin-left: 10px;
    }
  }
}
