@import '../../utils/sass/mixins.scss';

.rentallist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  @include bp(mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  @include bp(tablet) {
    justify-content: center;
  }
}
