@import '../../utils/sass/variables';
@import '../../utils/sass/mixins.scss';

.collapse {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title {
    width: 100%;
    max-width: 1000px;
    background-color: $primary;
    color: #ffffff;
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;
    border-radius: 10px;
    @include bp(mobile) {
      font-size: 16px;
      width: 90%;
      height: 35px;
      padding: 0 15px 0 15px;
    }
    @include bp(tablet) {
      font-size: 20px;
      width: 90%;
      height: 40px;
      padding: 0 15px 0 15px;
    }
  }
  &__content {
    background-color: #f7f7f7;
    width: 100%;
    max-width: 1000px;
    padding: 0 25px 0 25px;
    font-weight: 400;
    font-size: 24px;
    color: $primary;
    border-radius: 0 0 10px 10px;
    @include bp(mobile) {
      font-size: 16px;
      width: 90%;
      padding: 0 15px 0 15px;
    }
    @include bp(tablet) {
      font-size: 20px;
      width: 90%;
      padding: 0 15px 0 15px;
    }
    ul {
      list-style: none;
    }
  }
}
