@import '../../utils/sass/variables';
@import '../../utils/sass/mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px 50px 100px;
  &__nav {
    a {
      margin: 20px;
      color: $primary;
      font-size: 24px;
      @include bp(mobile) {
        margin: 5px;
        font-size: 15px;
        text-transform: uppercase;
      }
      @include bp(tablet) {
        margin: 10px;
        font-size: 20px;
        text-transform: uppercase;
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
  img {
    @include bp(mobile) {
      width: 120px;
    }
    @include bp(tablet) {
      width: 150px;
    }
  }
  @include bp(mobile) {
    margin: 15px;
  }
}
