@import '../../utils/sass/mixins.scss';

.footer {
  background-color: #000000;
  color: white;
  font-size: 24px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 50px;
  margin-top: auto;

  @include bp(mobile) {
    font-size: 12px;
    padding: 50px;
  }
}
