.footer {
  background-color: #000000;
  color: white;
  font-size: 24px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
