@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    padding-bottom: 60px;
  }
}
